<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Techs & Geeks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <title>Techs & Geeks blogspot</title>

</head>
<header>

</header>
